@using USP_Project.Data.Models.Enums;

@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-start">
    <div class="col-md-3 filters-container">
        <h4>Filters</h4>
        <form asp-action="Index" method="get">
            <div class="form-group">
                <label>Brand:</label>
                <select class="form-control" name="BrandId">
                    <option value="">--All--</option>
                    @if (ViewData["Brands"] != null)
                    {
                        // All brands.
                        @foreach (var brand in ViewData["Brands"] as IEnumerable<USP_Project.Data.Models.Brand>)
                        {
                            <option value="@brand.Id">@brand.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Model:</label>
                <select class="form-control" name="ModelId">
                    <option value="">--All--</option>
                    @if (ViewData["Models"] != null)
                    {
                        // All models by brand. // GetModelsByBrand()
                        @foreach (var models in ViewData["Models"] as IEnumerable<USP_Project.Data.Models.Model>)
                        {
                            <option value="@models.Id">@models.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Extras:</label><br />
                @if (ViewData["Extras"] != null)
                {
                    // All extras
                    @foreach (var extra in ViewData["Extras"] as IEnumerable<USP_Project.Data.Models.Extra>)
                    {
                        <div class="checkbox">
                            <label><input type="checkbox" name="Extras" value="@extra.Id">@extra.Name</label>
                        </div>
                    }
                }
            </div>
            <div class="form-group">
                <label>Year of Production:</label>
                <input type="range" min="1970" max="2023" value="2010" class="slider" id="Year" name="Year">
                <p>Year: <span id="year"></span></p>
            </div>
            <div class="form-group">
                <label>Minimum Engine Size:</label>
                <input type="number" name="EngineSize" class="form-control" />
            </div>
            <div class="form-group">
                <label for="EngineType">Engine Type</label>
                <select id="EngineType" class="form-control" name="EngineType">
                    @foreach (var type in Enum.GetValues(typeof(EngineType)))
                    {
                        <option>@type</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Transmission">Transmission</label>
                <select id="Transmission" class="form-control" name="Transmission">
                    @foreach (var type in Enum.GetValues(typeof(Transmission)))
                    {
                        <option>@type</option>
                    }
                </select>
            </div>
            <button type="submit" class="button">Apply Filters</button>
        </form>
    </div>
    <div class="col-md-9">
        <h4>Featured Cars</h4>
        <div class="row">
            @foreach (var car in ViewData["FeaturedCars"] as IEnumerable<USP_Project.Data.Models.Car>)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="@car.ImagePaths" class="card-img-top" alt="@car.Brand.Name @car.Model.Name">
                        <div class="card-body">
                            <h5 class="card-title">@car.Brand.Name @car.Model.Name</h5>
                            @* <p class="card-text">@car.Year</p> *@
                            @* <a href="@Url.Action("Details", "Cars", new { id = car.Id })" class="btn btn-primary">Details</a> *@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="js/site.js" defer></script>