@using USP_Project.Data.Models.Enums;
@model USP_Project.Web.Models.Cars.CarSearchInputModel

@{
    ViewData["Title"] = "Home Page";
    var message = ViewData["Message"];
    var errors = ViewData["Errors"] as ICollection<string>;
}

<div class="row justify-content-start">
    <div class="col-md-3 filters-container">
        @if (message is not null)
        {
            <div class="my-2 alert alert-success" role="alert">@message</div>
        }
        @if (errors is not null)
        {
            <div class="my-2 alert alert-warning" role="alert">@string.Join(", ", errors)</div>
        }
        <h4>Filters</h4>
        <form asp-controller="Home" asp-action="Index" method="post">
            <div class="form-group mt-2">
                <label>Brand:</label>
                <select asp-for="Brand" id="Brand" class="form-control">
                    <option value="">--All--</option>
                    @if (Model.AllBrands?.Any() ?? false)
                    {
                        // All brands.
                        @foreach (var brand in Model.AllBrands)
                        {
                            <option value="@brand.Id">@brand.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Model">Model:</label>
                <select asp-for="Model" id="Model" class="form-control">
                    <option disabled="disabled" value="">--All--</option>
                </select>
            </div>
            <div class="form-group mt-2">
                <label>Extras:</label><br/>
                @if (Model.AllExtras?.Any() ?? false)
                {
                    // All extras
                    @foreach (var extra in Model.AllExtras)
                    {
                        <div class="checkbox">
                            <label for="@extra.Id">@extra.Name</label>
                            <input id="@extra.Id" type="checkbox" name="Extras" value="@extra.Name">
                        </div>
                    }
                }
            </div>
            <div class="form-group mt-2">
                <label>Year of Production:</label>
                <input asp-for="YearOfProduction" type="range" min="1970" max="2023" value="2010" class="slider">
                <p>Year: <span id="year"></span></p>
            </div>
            <div class="form-group mt-2">
                <label>Minimum Engine Size:</label>
                <input asp-for="MinEngineSize" type="number" class="form-control"/>
            </div>
            <div class="form-group mt-2">
                <label for="EngineType">Engine Type</label>
                <select asp-for="EngineType" id="EngineType" class="form-control">
                    @foreach (var type in Enum.GetValues(typeof(EngineType)))
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
            <div class="form-group mt-2">
                <label for="Transmission">Transmission</label>
                <select asp-for="Transmission" id="Transmission" class="form-control" >
                    @foreach (var type in Enum.GetValues(typeof(Transmission)))
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
            <button type="submit" class="button mt-4 btn btn-primary">Apply Filters</button>
        </form>
    </div>
    <div class="col-md-9">
        <h4>Featured Cars</h4>
        <div class="row mt-4">
            @foreach (var car in Model.FeaturedCars)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card p-2 rounded-2">
                        @foreach (var imagePath in car.ImagePaths)
                        {
                            <img src="@imagePath" class="card-img-top" alt="@car.Brand.Name @car.Model.Name">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@car.Brand.Name @car.Model.Name</h5>
                            <p class="card-text"> Year of production: @car.ProductionYear</p>
                            @* <a href="@Url.Action("Details", "Cars", new { id = car.Id })" class="btn btn-primary">Details</a> *@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="js/site.js" defer></script>